<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fjnu.edu.cn.xjsscttjh">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:name="fjnu.edu.cn.xjsscttjh.base.AppBaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.LoginActivity"
            android:label="@string/user_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.InitActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.SuggestionActivity"
            android:label="@string/suggestion_feedback"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.AboutActivity"
            android:label="@string/message_center"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.BrowserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.RegisterActivity"
            android:label="@string/user_register"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.ChartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.ToolActivity"
            android:screenOrientation="portrait"
            android:label="">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.LotteryDisplayActivity"
            android:screenOrientation="portrait"
            android:label="">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.FcTrendsInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/trend_chart">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.FcTrendChartActivity"
            android:screenOrientation="landscape"
            android:label="">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.WyTrendChartActivity"
            android:screenOrientation="landscape"
            android:label="">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.HistoryOpenActivity"
            android:screenOrientation="portrait"
            android:label="">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.ForcaestInfoDisplayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.LottyNowOpenActivity"
            android:screenOrientation="portrait"
            android:label="@string/newst_lotty_open">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.FCTrendsTypeActivity"
            android:screenOrientation="portrait"
            android:label="@string/trend_any">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.ForecastInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/lotty_forecast">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.WyJoinMethodActivity"
            android:screenOrientation="portrait"
            android:label="@string/join_method_introduce">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fjnu.edu.cn.xjsscttjh.activity.WyJoinMethodDisplayActivity"
            android:screenOrientation="portrait"
            android:label="">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>